{% extends "bpmn/base.html" %}
{% load static %}

{% block title %}BPMN diagram{% endblock %}

{% block content %}

    <h1>BPMN diagram</h1>
    <p>TODO: Parameters</p>

    <ul class="list-group" style="width: 450px;">
        <li class="list-group-item">
            <p>Filter parameters</p>
        </li>
        <li class="list-group-item">
            <div class="range-wrap row">
                <label class="col-4" for="node-slider">Node threshold</label>
                <div class="col-4">
                    <input type="range" value="{{ node_threshold }}" min="0" max="100" oninput="$('#node-value').val(this.value)"
                           id="node-slider" class="filter-slider">
                </div>
                <div class="col-4">
                    <output id="node-value" class="badge bg-primary rounded-pill">{{ node_threshold }}</output>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="range-wrap row">
                <label class="col-4" for="edge-slider">Edge threshold</label>
                <div class="col-4">
                    <input type="range" value="{{ edge_threshold }}" min="0" max="100" oninput="$('#edge-value').val(this.value)"
                           id="edge-slider" class="filter-slider">
                </div>
                <div class="col-4">
                    <output id="edge-value" class="badge bg-primary rounded-pill">{{ edge_threshold }}</output>
                </div>
            </div>
        </li>
    </ul>

    <form method="post" id="filter-form">
        {% csrf_token %}
        <input type="hidden" name="node_threshold_input" value="0" id="node_threshold">
        <input type="hidden" name="edge_threshold_input" value="0" id="edge_threshold">

    </form>

    <div class="container mt-3">
        <img class="img-fluid" src="{% static 'svg\simple_process_model.svg' %}" alt="BPMN process model"
             id="bpmn_diagram">
    </div>

    <a class="btn btn-success" href="{% url "bpmn:upload-file" %}">Upload another log file</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static "js/update_filter.js" %}"></script>

{% endblock %}