{% extends "bpmn/base.html" %}

{% block title %}Load file{% endblock %}

{% block content %}

    <h1>Load logs from file</h1>

    <p>TODO: instruction to user</p>

    <form action="{% url "bpmn:upload-file" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="list-group" style="width: 300px;">
            <li class="list-group-item pt-1 pb-1">
                <div class="log_upload_container">
                    {{ log_upload_form }}
                    <label for="file-upload-input" class="custom-file-upload btn btn-warning" id="file-choose">
                        Choose file
                    </label>
                </div>
            </li>
            <li class="list-group-item pt-1 pb-1" style="height: 35px;">
                {% if log_file %}
                    <p id="selected_file">Selected file: {{ log_file.log_file.name }}</p>
                {% else %}
                    <p id="selected_file">No selected file</p>
                {% endif %}
            </li>
            <li class="list-group-item pt-1 pb-1">
                <input type="submit" value="Upload selected file" class="btn btn-success" name="load_file">
            </li>
        </ul>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select columns for generating BPMN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="mb-3 row">
                                <label for="case_id" class="col-sm-2 col-form-label">Case&nbsp;ID</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" id="case_id" name="case_id">
                                        <option selected>{{ case_id_suggestion }}</option>
                                        {% for column_name in columns %}
                                            {% if column_name != case_id_suggestion %}
                                                <option>{{ column_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="activity" class="col-sm-2 col-form-label">Activity</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" id="activity" name="activity">
                                        <option selected>{{ activity_suggestion }}</option>
                                        {% for column_name in columns %}
                                            {% if column_name != activity_suggestion %}
                                                <option>{{ column_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                    <label for="start_timestamp" class="col-sm-2 col-form-label">Start&nbsp;Timestamp</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example" id="start_timestamp" name="start_timestamp">
                                            <option selected> {{ timestamp_suggestion }} </option>
                                            {% for column_name in columns %}
                                                {% if column_name != timestamp_suggestion %}
                                                    <option>{{ column_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="text" id="log_file_id" name="log_file_id" value="{{ log_file.id }}" style="display: none;">
                        <button type="submit" class="btn btn-primary mb-3" name="load_columns" value="load">Generate BPMN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
          $("#file-upload-input").change(function(){
            let file_path = $(this).val();
            let file_name = file_path.split('\\')[2];
            $('#selected_file').text("Selected file: " + file_name);
          });
        });
        $(document).ready(function(){
            let select_columns = "{{select_columns}}";
            if (select_columns !== "") {
                $('#exampleModal').modal('show');
            }
        });
    </script>
    
{% endblock content %}