{% extends "bpmn/base.html" %}

{% block title %}BPMN Alpha Miner{% endblock %}

{% block content %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>BPMN Alpha Miner</h1>
    </div>

    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <h1>Web application to create BPMN diagram</h1>
        <p>Click button below to start uploading file</p>
    </div>

    <a class="btn btn-success mt-3" href="{% url "bpmn:upload-file" %}">Upload log file</a>
{% endblock content %}